<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.escort.mapper.EscortOrderMapper">
    
    <resultMap type="EscortOrder" id="EscortOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="memberId"    column="member_id"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="hospitalId"    column="hospital_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="escortId"    column="escort_id"    />
        <result property="status"    column="status"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="planFinishTime"    column="plan_finish_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="hospitalName"    column="hospital_name"    />
        <result property="escortName"    column="escort_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectAmount"    column="project_amount"    />
        <result property="memberName"    column="member_name"    />
        <result property="memberPhone"    column="member_phone"    />
    </resultMap>

    <resultMap type="OrderProjectInfoVo" id="OrderProjectInfoVoResult">
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
    </resultMap>

    <sql id="selectEscortOrderVo">
        select order_id, order_no, member_id, appointment_time, hospital_id, project_id, escort_id, status, finish_time, plan_finish_time, del_flag, create_by, create_time, update_by, update_time, remark from escort_order
    </sql>

    <select id="selectEscortOrderList" parameterType="EscortOrder" resultMap="EscortOrderResult">
        <include refid="selectEscortOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="appointmentTime != null "> and appointment_time = #{appointmentTime}</if>
            <if test="hospitalId != null "> and hospital_id = #{hospitalId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="escortId != null "> and escort_id = #{escortId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="planFinishTime != null "> and plan_finish_time = #{planFinishTime}</if>
        </where>
    </select>
    
    <select id="selectEscortOrderByOrderId" parameterType="Long" resultMap="EscortOrderResult">
        <include refid="selectEscortOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertEscortOrder" parameterType="EscortOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into escort_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="memberId != null">member_id,</if>
            <if test="appointmentTime != null">appointment_time,</if>
            <if test="hospitalId != null">hospital_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="escortId != null">escort_id,</if>
            <if test="status != null">status,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="planFinishTime != null">plan_finish_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="appointmentTime != null">#{appointmentTime},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="escortId != null">#{escortId},</if>
            <if test="status != null">#{status},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="planFinishTime != null">#{planFinishTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEscortOrder" parameterType="EscortOrder">
        update escort_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="appointmentTime != null">appointment_time = #{appointmentTime},</if>
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="escortId != null">escort_id = #{escortId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="planFinishTime != null">plan_finish_time = #{planFinishTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteEscortOrderByOrderId" parameterType="Long">
        delete from escort_order where order_id = #{orderId}
    </delete>

    <delete id="deleteEscortOrderByOrderIds" parameterType="String">
        delete from escort_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

    <select id="selectEscortOrderListToday" parameterType="EscortOrder" resultMap="EscortOrderResult">
        <include refid="selectEscortOrderVo"/>
        <where>

            <if test="appointmentTime != null "> and DATE_FORMAT(appointment_time,"%Y-%m-%d")  =  DATE_FORMAT(#{appointmentTime},"%Y-%m-%d")</if>
            <if test="planFinishTime != null "> and DATE_FORMAT(plan_finish_time,"%Y-%m-%d")  =  DATE_FORMAT(#{planFinishTime},"%Y-%m-%d")</if>
        </where>
    </select>

    <update id="updateEscortOrderByParam" parameterType="EscortOrder">
        update escort_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        <where>
            <if test="appointmentTime != null "> and appointment_time = #{appointmentTime}</if>
            <if test="planFinishTime != null "> and plan_finish_time = #{planFinishTime}</if>
        </where>
    </update>

    <select id="selectEscortOrderInfoList" parameterType="EscortOrder" resultMap="EscortOrderResult">
        select
        t.order_id,
        t.order_no,
        t.member_id,
        t.appointment_time,
        t.hospital_id,
        t.project_id,
        t.escort_id,
        t.status,
        t.finish_time,
        t.plan_finish_time,
        t.del_flag,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.remark,
        t1.hospital_name,
        t2.escort_name,
        t3.project_name,
        t3.project_amount,
        t4.member_name,
        t4.member_phone
        from
        escort_order t
        left join escort_hospital t1 on t1.hospital_id = t.hospital_id
        left join escort_manage t2 on t2.escort_id = t.escort_id
        left join escort_project t3 on t3.project_id = t.project_id
        left join escort_member t4 on t4.member_id = t.member_id
        <where>
            <if test="orderNo != null  and orderNo != ''"> and t.order_no = #{orderNo}</if>
            <if test="memberName != null "> and t4.member_name like concat('%', #{memberName}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(t.appointment_time, '%Y-%m-%d') &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(t.appointment_time, '%Y-%m-%d') &lt;= #{params.endTime}
            </if>
            <if test="params.beginTimeTwo != null and params.beginTimeTwo != ''"><!-- 开始时间检索 -->
                and date_format(t.finish_time, '%Y-%m-%d') &gt;= #{params.beginTimeTwo}
            </if>
            <if test="params.endTimeTwo != null and params.endTimeTwo != ''"><!-- 结束时间检索 -->
                and date_format(t.finish_time, '%Y-%m-%d') &lt;= #{params.endTimeTwo}
            </if>
            <if test="hospitalName != null "> and t1.hospital_name like concat('%', #{hospitalName}, '%')</if>
            <if test="projectName != null "> and t3.project_name like concat('%', #{projectName}, '%')</if>
            <if test="escortName != null "> and t2.escort_name like concat('%', #{escortName}, '%')</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
            <if test="planFinishTime != null "> and t.plan_finish_time = #{planFinishTime}</if>
            <if test="targetFinishTime != null "> and DATE_FORMAT(finish_time,"%Y-%m-%d") = DATE_FORMAT(#{targetFinishTime},"%Y-%m-%d")</if>
        </where>
        order by t.create_time desc,t.order_id desc
    </select>

    <!--查询当月订单的项目类型及其数量-->
    <select id="projectTypeInfo" resultMap="OrderProjectInfoVoResult">
        select
            t1.project_name   name,
            count(t.order_id)   value
        from
            escort_order t
                left join escort_project t1 on t1.project_id = t.project_id
        where
            1 = 1
          and date_format(t.finish_time, '%Y-%m') = date_format(now(), '%Y-%m')
        group by
            t1.project_name
    </select>
</mapper>